.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9ff;
}

a {
  text-decoration: none;
  color: inherit;
}

.MainContent {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f8f9ff;
}
